[submodule "themes/writing-daniel-dewar-theme"]
	path = themes/writing-daniel-dewar-theme
	url = https://github.com/danielkdewar/writing-daniel-dewar-theme.git
[submodule "public"]
	path = public
	url = https://github.com/danielkdewar/writing.github.io.git
